{{> /include/header }}
<div class="ui fluid container main-content">
    <h2 class="ui dividing header">{{#portfolio}}Modifier le portfolio "{{portfolio.name}}"{{/portfolio}}{{^portfolio}}Ajouter un portfolio{{/portfolio}}</h2>
    <form class="ui form segment" action="{{action}}" method="post">
        <div class="field">
            <label>Nom du portfolio</label>
            <input type="text" name="name" value="{{#portfolio}}{{portfolio.name}}{{/portfolio}}" placeholder="Entrez un nom pour le portfolio" required>
        </div>

        <div class="field">
            <label>Thème du portfolio</label>
            <select class="ui dropdown" name="themeName">
                <option value="default" {{#portfolio}}{{^themeName}}selected{{/themeName}}{{/portfolio}}>Thème par défaut</option>
                <option value="modern" {{#portfolio}}{{#themeName}}{{^ifEquals themeName "modern"}}selected{{/ifEquals}}{{/themeName}}{{/portfolio}}>Moderne (simple)</option>
                <option value="creative" {{#portfolio}}{{#themeName}}{{^ifEquals themeName "creative"}}selected{{/ifEquals}}{{/themeName}}{{/portfolio}}>Créatif (images)</option>
                <!-- Ajoute d'autres options de thème ici -->
            </select>
        </div>

        <div class="ui divider"></div>
        <a href="/users/{{userId}}/portfolios" class="ui basic button">Annuler</a>
        <button type="submit" class="ui green button">Valider</button>
    </form>
</div>
{{> /include/footer }}